<ion-view view-title="修改资料" hide-tabs="true">
  <ion-content class="padding-top myProduct-bg">
    <form name="alipayNumForm">
      <div class="list" style="margin-bottom: 0">
        <label class="item item-input padding-lost6">
          <span class="input-label inputLabel">支付宝账号</span>
          <input type="text" name="alipayNum" placeholder="{{userinfo.alipayAccount | placeholder: 'alipayAccount'}}"
                 ng-model="input.alipayAccount">
        </label>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-assertive" ng-click="downAction()">保存</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
