<ion-view view-title="修改资料" hide-tabs="true">
  <ion-nav-buttons side="right">
    <button class="button button-outline button-stable" style="color: #fff;border-color: #fff;font-weight: normal" ng-click="downAction()" >保存</button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item>
        <p>出生日期</p><br>
        <!--<ionic-datepicker input-obj="datepickerObjectEnd">-->
          <!--<button class="button button-full" ng-bind="dateSelected.birthdayDate | date:'yyyy-MM-dd'"></button>-->
        <!--</ionic-datepicker>-->
        <div ion-datetime-picker date ng-model="dateSelected.birthdayDate" title="title">
          <button class="button button-full button-assertive" ng-bind="dateSelected.birthdayDate | date:'yyyy-MM-dd'"></button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
