<ion-view hide-nav-bar="true" hide-tabs="false">
  <ion-header-bar align-title="left" class="item-input-inset myTitle-bg" style="opacity: 0.9">
    <!--<div class="buttons" ng-click="seePrevious()">-->
    <!--<div class="padding-right">积分吧</div>-->
    <!--</div>-->
    <div class="item-input-wrapper myProduct-bg no-search-pad">
      <i class="icon ion-search placeholder-icon" style="color: #ffffff"></i>
      <a href="#tab/home/good-list" style="width: 100%;">
        <input type="search" placeholder="搜索商品获得返利" style="height: 24px;line-height: 16px;color: #ffffff"
               ng-disabled="true">
      </a>
    </div>
    <!--<div class="buttons" ng-click="seeAfter();">-->
    <div class="buttons" ng-click="goMessage();">
      <div class="text-center" style="padding-left:10px;line-height:13px;font-size: 9px;position: relative">
        <i class="icon ion-ios-chatbubble-outline" style="font-size: 24px"></i><span
        style="display: flex;font-size: 8px">消息</span>
        <span ng-show="redButtonSwich" class="badge badge-assertive"
              style="position: absolute;top:0;right:0;font-size: 6px;border: 1px solid #ffffff;background-color: #fff;padding: 3px 3px;min-width:0;">
				</span>
      </div>
    </div>
  </ion-header-bar>
  <ion-header-bar align-title="left" class="bar-subheader no-bar-subheader">
    <ion-scroll zooming="false" direction="x" overflow-scroll="false" style="white-space:nowrap;overflow-x:hidden;"
                scrollbar-x="false" scrollbar-y="false" delegate-handle="goodsCategories">
      <span class="padding product-fontSize" style="padding-top: 0;padding-bottom: 0;border: none"
         ng-repeat="item in categories track by $index" id="{{item.id}}"
         ng-click="choseCategory(item.id, $index)">
        <span ng-class="currentCIndex==$index? 'goodsClass_select': ''">
          {{item.groupName}}
        </span>
      </span>
    </ion-scroll>
  </ion-header-bar>
  <ion-content scroll="false" no-tap-scroll="true" class="ios-subheader" style="top:0;">
    <div ng-show="homeSection && categories.length > 0" ng-class="animslide">
      <ion-scroll class="no-full-scroll" delegate-handle="homeView" on-scroll="getScrollLength(0, 'homeView')">
        <div class="no-blank-header"></div>
        <ion-refresher pulling-text="下拉刷新" on-refresh="homeData.doRefresh()" class="no-refresh-top"></ion-refresher>
        <ion-slide-box delegate-handle="banner">
          <ion-slide ng-repeat="banner in homeData.bannerList">
            <div>
              <a ng-click="goAdvGoodsList(banner.id,banner.imgUrl,banner.title)">
                <img ng-src="{{prefix+banner.imgUrl}}" alt="" class="product-img-box" height="140px">
              </a>
            </div>
          </ion-slide>
        </ion-slide-box>
        <div class=" row home-title-box" on-swipe-left="seeAfter()">
          <div class="col col-20 text-center padding-box0" ng-repeat="goodsModule in homeData.modelList | limitTo:4 ">
            <a href="#/tab/home/{{goodsModule.id}}/{{goodsModule.labelName}}">
              <img class="circle-img1" ng-src="{{prefix+goodsModule.imgUrl}}" width="36" height="36">
              <p class="product-fontSize">{{goodsModule.labelName}}</p>
            </a>
          </div>
          <div class="col col-20 text-center padding-box0">
            <a ng-click="signIn()">
              <img class="circle-img1" ng-src="img/get.png" width="36" height="36">
              <p class="product-fontSize">签到</p>
            </a>
          </div>

        </div>
        <div class="row home-title-box" ng-show="homeData.modelList.length > 4" on-swipe-left="seeAfter()">
          <div class="col col-20 text-center padding-box0" ng-repeat="goodsModule in homeData.modelList | limitTo:5:4 ">
            <a href="#/tab/home/{{goodsModule.id}}/{{goodsModule.labelName}}">
              <img class="circle-img1" ng-src="{{prefix+goodsModule.imgUrl}}" width="36" height="36">
              <p class="product-fontSize">{{goodsModule.labelName}}</p>
            </a>
          </div>
        </div>

        <div class="home-title-box" on-swipe-left="seeAfter()">
          <div class="row product-box-model">
            <div ng-repeat="item in homeData.squareList" class="col col-50 border-rB">
              <a ng-click="goSquareGoodsList(item.id, item.title)">
                <img class="product-img-box" ng-src="{{prefix+item.imgUrl}}" alt="" style="height: 80px">
              </a>
            </div>
          </div>
        </div>

        <div class="row home-title-box" on-swipe-left="seeAfter()">
          <div class="col text-center">
            <i class="icon ion-ios-heart assertive"></i> <span class="product-fontSize">今日上新</span>
            <br><span class="myColor-small">实时推荐您最喜欢的宝贝</span>
          </div>
        </div>

        <div class="row product-box-model" on-swipe-left="seeAfter()">
          <div class="col col-50  padding-box0" ng-repeat="goodsItem in homeData.goodsList track by $index">
            <div class="product-BModelEvery">
              <a href="#/tab/goodsDetail/{{goodsItem.id}}">
                <img ng-src="{{goodsItem.picLink}}" alt="" class="product-img-box">
                <span class="row padding-box0" style="white-space:nowrap; margin-left: 4px;padding-right: 4px">
                        <span
                          class="box-bT-left" ng-class="goodsItem.platformType == '淘宝'?'no-coupon-fontStyle-T':'no-coupon-fontStyle'">{{goodsItem.platformType}}</span>
                        <label class="buy-priceSize box-bT-right no-font-hide"
                               style="font-weight: normal;margin-left: 2px">{{goodsItem.title}}</label>
                </span>
                <!--<span class="col padding-box0 buy-numSize myColor-small text-right">已抢{{goodsItem.quanReceive}}件</span>-->
                <p class="row padding-TBBox0 margin-bBox0" style="margin-top: 2px">
                  <span
                    class="col col-bottom padding-box0 buy-numSize myColor-small del-line">原价￥{{goodsItem.orgPrice}}</span>
                  <span class="col padding-box0 text-right"><span
                    class="coupon-fontStyle">{{goodsItem.quanPrice}}元优惠</span></span>
                </p>
                <p class="row buy-price margin-top1">
                    <span class="col col-50 padding-box0"><span>券后</span><label class="buy-priceSize"
                                                                                style="font-weight: normal">{{goodsItem.orgPrice-goodsItem.quanPrice
                        | currency:"￥":1}}</label></span>
                  <span class="col col-50 padding-box0 text-right">约{{goodsItem.rebatePoints | showOrderFilter:'scoreFormat'}}积分</span>
                </p>
              </a>
            </div>
          </div>
        </div>

        <div ng-show="homeData.noMore" style="text-align: center;margin-top: 5px;margin-bottom: 5px;">没有更多数据了</div>
        <div class="no-blank-footer"></div>

        <ion-infinite-scroll style="margin-bottom: 42px" ng-if="homeData.canLoadMore" immediate-check="false"
                             on-infinite="homeData.loadMore()"
                             distance="10%"></ion-infinite-scroll>
      </ion-scroll>

      <div class="position-goTo text-center" ng-show="homeData.showTop">
        <i class="icon ion-android-arrow-up" ng-click="goTop(0, 'homeView')"></i>
      </div>

    </div>

    <div ng-repeat="currentCategory in goodsCategoryList track by $index" ng-class="animslide"
         on-swipe-right="seePrevious()" on-swipe-left="seeAfter()" ng-show="!homeSection && currentCIndex == $index+1">
      <ion-scroll class="no-full-scroll" delegate-handle="{{currentCategory.categoryId}}"
                  on-scroll="getScrollLength($index, currentCategory.categoryId)">
        <div class="no-blank-header"></div>
        <ion-refresher pulling-text="下拉刷新" on-refresh="currentCategory.doRefresh()"
                       class="no-refresh-top"></ion-refresher>

        <div class="home-ad-line" ng-repeat="adv in currentCategory.advList">
          <a ng-click="goAdvGoodsList(adv.id,adv.imgUrl,adv.title)">
            <img class="row home-ad-img" ng-src="{{prefix+adv.imgUrl}}" alt="" class="product-img-box" height="140px">
            <p class="row home-ad-title">{{adv.title}}</p>
          </a>
        </div>
        <div class="row product-box-model">
          <div class="col col-50  padding-box0" ng-repeat="goodsItem in currentCategory.goodsList track by $index">
            <div class="product-BModelEvery">
              <a href="#/tab/goodsDetail/{{goodsItem.id}}">
                <img ng-src="{{goodsItem.picLink}}" alt="" class="product-img-box">
                <span class="row padding-box0" style="white-space:nowrap; margin-left: 4px;padding-right: 4px">
                        <span
                          class="box-bT-left" ng-class="goodsItem.platformType == '淘宝'?'no-coupon-fontStyle-T':'no-coupon-fontStyle'">{{goodsItem.platformType}}</span>
                        <label class="buy-priceSize box-bT-right no-font-hide"
                               style="font-weight: normal;margin-left: 2px">{{goodsItem.title}}</label>
                  </span>
                <!--<span class="col padding-box0 buy-numSize myColor-small text-right">已抢{{goodsItem.quanReceive}}件</span>-->
                <p class="row padding-TBBox0 margin-bBox0" style="margin-top: 2px">
                  <span
                    class="col col-bottom padding-box0 buy-numSize myColor-small del-line">原价￥{{goodsItem.orgPrice}}</span>
                  <span class="col padding-box0 text-right"><span
                    class="coupon-fontStyle">{{goodsItem.quanPrice}}元优惠</span></span>
                </p>
                <p class="row buy-price margin-top1">
                    <span class="col col-50 padding-box0"><span>券后</span><label class="buy-priceSize"
                                                                                style="font-weight: normal">{{goodsItem.orgPrice-goodsItem.quanPrice
                        | currency:"￥":1}}</label></span>
                  <span class="col col-50 padding-box0 text-right">约{{goodsItem.rebatePoints | showOrderFilter:'scoreFormat'}}积分</span>
                </p>
              </a>
            </div>
          </div>
        </div>


        <div ng-show="currentCategory.isEmpty" style="text-align: center;margin-top: 5px;margin-bottom: 5px;">暂无数据</div>
        <div ng-show="currentCategory.noMore" style="text-align: center;margin-top: 5px;margin-bottom: 5px;">没有更多数据了</div>
        <div class="no-blank-footer"></div>
        <ion-infinite-scroll style="margin-bottom: 42px" ng-if="currentCategory.canLoadMore" immediate-check="false"
                             on-infinite="currentCategory.loadMore()"
                             distance="10%"></ion-infinite-scroll>

      </ion-scroll>

      <div class="position-goTo text-center" ng-show="currentCategory.showTop">
        <i class="icon ion-android-arrow-up" ng-click="goTop($index, currentCategory.categoryId)"></i>
      </div>
    </div>

  </ion-content>

</ion-view>
