<ion-view hide-nav-bar="true">
  <div class="bar bar-header myTitle-bg bar-assertive">
    <!--<div class="buttons">-->
        <!--<button class="button button-clear icon ion-ios-arrow-left  button-light" ng-click="returnShare()"></button>-->
    <!--</div>   暂时注释 by yangyihao 2016.12.28 11:30-->
    <div><h1 class="title">APP下载</h1></div>
  </div>
  <ion-content class="down-y">
    <div class="row" style="min-height: 100px;"></div>
    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-65 house-y">
        <div class="row" style="min-height: 40px;"></div>
      </div>
      <div class="col col-10 text-right"></div>
    </div>
    <div class="row" style="margin-bottom: 20px;"></div>
    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80 text-center" style="color:#fff;font-family: 'Microsoft YaHei';">
        <span>继续分享或领券请下载积分吧<br>积分吧为您提供最新的优惠商品信息<br>每一笔交易都可以为您返利<br>还有，只要您邀请用户<br>您邀请的用户也可以给你贡献积分获得返利哦</span>
      </div>
      <div class="col col-10"></div>
    </div>
    <div>
    <div class="row btn-active" style="margin-top: 10px;max-height:56px">
      <button class="button button-small button-block button-light "  style="margin:0 auto;width:50%;color:#e15522" ng-click="registered()">
        <div class="row" style="padding: 0;">
          <div class="col col-20"><span><i class="fa fa-android fa-2x" aria-hidden="true"></i></span></div>
          <div class="col col-80">Android市场下载</div>
        </div>
      </button>
    </div>
    <div class="row btn-active" style="margin-top: 10px;max-height:52px">
      <button class="button button-small button-block button-light "  style="margin:0 auto;width:50%;color:#e15522" ng-click="registered()">
        <div class="row" style="padding: 0;">
          <div class="col col-20"><i class="fa fa-apple fa-2x" aria-hidden="true"></i></div>
          <div class="col col-80">IOS市场下载</div>
        </div>
      </button>
    </div>
    </div>

  </ion-content>

</ion-view>
