<ion-view view-title="找回密码" hide-nav-bar="true">
  <!--<ion-nav-buttons side="left">-->
  <!--<button class="button icon ion-chevron-left button-clear"></button>-->
  <!--</ion-nav-buttons>-->
   <ion-header-bar class="myTitle-bg">
        <div class="buttons">
            <a href="#toLogin/:goodsId/:tagId/:type">
                <button class="button button-clear icon ion-ios-arrow-left colorWhite"></button>
            </a>
        </div>
        <div class="title" >找回密码</div>
    </ion-header-bar>
	<ion-content class="scroll-content has-header BG">
	 	<form name="lostPassWord">
			<div class="list" style="margin-bottom: 0">
				<label class="item item-input padding-lost6">
					<span class="input-label inputLabel">手机号</span>
				   	<input type="number" placeholder="请输入手机号码" name="phonenumber" maxlength="11" ng-model="$parent.phonenumber" />
				</label>
				<div class="item item-input padding-lost6">
					<span class="input-label inputLabel">验证码</span>
				   	<input type="text" placeholder="请输入验证码" name="validCode" ng-model="$parent.validCode" maxlength="6" style="padding-right: 5px"/>
					<button ng-click="getCode();" class="button button-small button-outline button-assertive text-center"  style="min-width: 70px"  ng-disabled="timer">
						<span ng-if="showTimer" style="color:#999; ">{{ timerCount }}</span>{{text}}
					</button>
				</div>
				<label class="item item-input padding-lost6">
				  	<span class="input-label inputLabel">新密码</span>
			      	<input type="password" placeholder="请输入6-15位新密码" name="userPassword" ng-model="$parent.newPS" maxlength="16" />
			  	</label>
			</div>
			<div class="row">
				<div class="col"><button ng-disabled="confirm" class="button button-block bg-rowLast light" ng-click="resetPassword()" >确认</button></div>
			</div>
		</form>
	</ion-content>
</ion-view>
