<ion-view hide-nav-bar="true" cache-view="false">
	<ion-header-bar>
        <div class="buttons">
            <button class="button button-clear icon ion-ios-arrow-left button-dark" ng-click="rollback()"></button>
        </div>
        <h1 class="title">注册</h1>
    </ion-header-bar>
  <!--<ion-nav-buttons side="left">-->
  <!--<button class="button icon ion-chevron-left button-clear"></button>-->
  <!--</ion-nav-buttons>-->
  <ion-content class="scoll-content has-header">
   <form name="pwdForm" novalidate="novalidate" ng-submit="">
    <div class="list">
      <label class="item item-input">
        <span class="input-label inputLabel" style="dispaly:block; width:60px; margin-left:-10px;" >新密码</span>
        <input style="padding-left: 15px" class="no-input" type="password"  name ="pwd" placeholder="请输入6-15位新密码" ng-model="user.password" maxlength="15"/>
        <!--  <span class="ion-checkmark-circled" ng-show="pwdForm.pwd.$valid"></span>-->
        <!--  <span style="color:red" ng-show="pwdForm.pwd.$error.required" ng-if="password"></span>
        <span style="color:red" ng-show="pwdForm.pwd.$error.pattern"  ng-if="password"></span>-->
      </label>

      <label class="item item-input">
        <span class="input-label inputLabel" style="dispaly:block; width:60px; margin-left:-10px;" >确认密码</span>
        <input class="no-input" type="password" name = "password" required placeholder="请输入确认密码"  ng-model="user.newPassword"/>
       <!--<span style="color:red" ng-show="pwdForm.password.$error.required" ng-if="password"></span>-->
         <!--<span ng-show="pwdForm.password.$error.pwdRepeat">两次输入不一致</span>-->
        <!--<span class="ion-checkmark-circled" ng-show="pwdForm.password.$valid"></span>-->
      </label>
    </div>
    <div class="padding" style="margin-top:-20px;">
      <button type="submit" class="button button-block bg-rowLast light" ng-click="checkPassword()">确认</button>
    </div>
   </form>
  </ion-content>
</ion-view>

