<ion-view hide-nav-bar="true">
  <ion-content class="share-bg" scroll="false" scrollbar-x="false" scrollbar-y="false">
      <div class="row">
        <div class="col col-20" style="margin-left:8%;text-align: right">
          <img class="d" src="img/share-avatar2.png" style="width: 60px;height: 60px">
        </div>
        <div class="col col-60" style="margin-left: 3%">
          <div class="font-chat-y">
            <span class="text-center font-chat">我一直用积分吧APP，去天猫、淘宝购物还有返利拿，真滴很划算~
            </span>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 10px;">
        <div class="col col-10"></div>
        <div class="col col-65 red-pack">
          <div class="row" style="min-height: 90px;"></div>
          <div class="row row-center">
            <div class="col col-10"></div>
            <div class="col col-65 get-y ">
              <div class="row">
                <div class="col col-10"></div>
                <div class="col col-65 text-center price-y ">
                  <span style="color:#e15522">￥2</span>
                </div>
                <div class="col col-10"></div>
              </div>
            </div>
            <div class="col col-10"></div>
          </div>
          <div class="row btn-active" style="margin-top: 40px;">
            <button class="button button-small button-block button-outline button-light "  style="margin:0 auto;width:40%;" ng-click="registered()">立即注册</button>
          </div>
        </div>
        <div class="col col-10 text-right"></div>
      </div>
      <div class="row text-center">
        <div class="col col-10"></div>
        <div class="col col-65">
          <a class="button button-clear button-small button-stable" style="color:#ffffff" ng-click="downed()">已有账号，下载登录</a>
        </div>
        <div class="col col-10"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
