<ion-view view-title="我的晒单" hide-tabs="true">
  <ion-content on-swipe-right="$ionicGoBack()" delegate-handle="myShowOrderHandle" no-tap-scroll="true" on-scroll="getScrollPosition()">
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

    <ion-list>
      <div ng-repeat="item in myShowOrderList">
        <ion-item style="padding: 0 5px 0 5px;">
          <div class="row">
            <div>
              <img ng-src="{{item.userHeadPic | showOrderFilter:'avatar'}}" class="circle-img" style="max-height: 40px;max-width: 40px;">
            </div>
            <span style="font-size: 18px;margin-top: 10px;margin-left: 5px">{{item.userName}}</span>
            <div style="width: 100%">
              <span class="myColor-small" style="float:right;margin-top: 10px;">{{item.exposureTime.time | date:'yyyy-MM-dd'}}</span>
            </div>
          </div>
        </ion-item>
        <a href="#/tab/member/goodsDetail/{{item.goodsId}}">
        <ion-item style="padding-right: 15px" class="item-remove-animate item-avatar item-icon-right border-y order-gap " type="item-text-wrap">
          <img class="product-img-y" style="border-radius: 0%;max-height: 70px;max-width: 70px;left:14px;top:12px;"
               ng-src="{{item.pic | showOrderFilter:'showPic'}}">
          <h2>{{item.describe}}</h2>

          <div class="row" style="padding: 0px;margin-top: 5px">
            <h5 class="col col-40 myColor-small" style="padding: 0px;margin-top: 5px ">评分({{item.score}}分)</h5>
            <div style="width: 100%;float: right" ng-show="item.score >= 1">
              <div style="float:right;white-space:nowrap" ng-repeat="io in nStarArray | limitTo: (5 - item.score)">
                <img ng-src={{io.src}} width='20px' height='20px'/>
              </div>
              <div style="float:right;white-space:nowrap" ng-repeat="i in starArray | limitTo: item.score">
                <img ng-src={{i.src}} width='20px' height='20px'/>
              </div>
            </div>
          </div>

          <div style="width: 100%">
            <h5 style="float: left;margin-top: 4px" class=" assertive">到手价：￥{{item.prcie}}</h5>
            <h5 style="float: right;margin-top: 4px" class=" order-grade">奖励积分{{item.integral}}</h5>
          </div>
        </ion-item>
        </a>
        <ion-item class="item-remove-animate item-icon-right border-y" style="padding:5px 8px;margin-bottom: 5px">
          <div class="row">
            <span class="myColor-small order-number">订单号:{{item.order}}</span>
            <div style="width: 100%">
              <div style="float: right;">
                <img  ng-show="{{item.isPass==1}}" ng-src="img/share.png" ng-click="shareAction(item.goodsName,item.id)" style="width: 16px;height: 16px;margin-top: 0px">
                <span ng-show="{{item.isPass==1}}" class="myColor-small" style="font-size: 14px;">分享</span>
                <span ng-show="{{item.isPass!=1}}" class="myColor-small" style="font-size: 14px;">审核中...</span>
              </div>
            </div>
          </div>
        </ion-item>
      </div>
    </ion-list>

    <div ng-show="isEmpty" style="text-align: center;margin-top: 5px">暂无数据</div>
    <div ng-show="noMore"style="text-align: center;margin-top: 5px">已经没有更多数据了</div>

    <ion-infinite-scroll ng-if="canLoadMore" immediate-check="false" on-infinite="loadMore()"
                         distance="10%"></ion-infinite-scroll>
  </ion-content>

  <div class="position-goTo text-center" ng-show="showTop">
    <i class="icon ion-android-arrow-up" ng-click="goTop()"></i>
  </div>
</ion-view>
